.coin-current-wrapper 
  margin-top: 20px
  width: 70%
  margin: 0 auto
  display: flex
  justify-content: space-between
  &_block
    display: flex
    flex-direction: column
    gap: 8px
    text-align: center
  &_price
    display: flex
    gap: 8px  
.red
  color: red  
.green
  color: rgb(37, 204, 176)  
    
  
  

