.header
  padding: 20px 0 
  display: flex
  justify-content: space-between
  align-items: center
  max-width: 90%
  margin: 0 auto
  &_logo
    color: white
    font-size: 23px
    font-weight: 600
  &_social_icon
    display: flex
    gap: 10px  
    cursor: pointer

